html {
  line-height: 1.4;
  height: 100%;
  /* touch-action: manipulation; */
}
body {
  height: 100%;
}

.charge {
  width: 47%;
  background-color: red;
  animation-name: press;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

@keyframes press{
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(4%);
  }
  100% {
    transform: translateY(0%);
  }
}