html {
  line-height: 1.4;
  height: 100%;
  touch-action: manipulation;
}
body {
  height: 100%;
  overflow: auto;
  touch-action: manipulation;
}

#testing {
  color: red;
}

.container {
  position: relative;
  width: 414px;
}

.charge {
  width: 47%;
  animation-name: press;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
}

img {
  width: 100%;
  max-width: 100%;
}

@keyframes press{
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(4%);
  }
  100% {
    transform: translateY(0%);
  }
}